.home-root {
  background-color:darkolivegreen;
}
.card {
  background-color:rgb(229, 214, 130);
}
.container-fluid {
  background-color:darkslategray;
}
li {
  background-color:darkseagreen;
}
.btn btn-primary mt-3 {
  background-color:forestgreen;
}
li:hover {
  background-color: #E0E0E0;
  cursor: pointer;
}

.delete-btn {
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

.list-group-item:hover .delete-btn {
  display: inline;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  background-color:darkslategray;
}

