<div class="home-root">
  <h1>Pet Tasks</h1>

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li
            *ngFor="let task of taskList"
            class="list-group-item"
            (click)="showDetails(task)"
            (mouseenter)="showDeleteButton = true"
    (mouseleave)="showDeleteButton = false">
            {{ task.id }} {{ task.name }}
            <span class="delete-btn" *ngIf="showDeleteButton" (click)="$event.stopPropagation(); deleteTodo(task.id)">
              ❌
            </span>
          </li>
        </ul>
      </div>

      <div
        class="col-md-6"
        *ngIf="selected">
        <div class="card">
          <div class="card-header">Task Details</div>
          <div class="card-body">
            <h2>Task Details</h2>
            <p><strong>ID:</strong> {{ selected.id }}</p>
            <p><strong>Name:</strong> {{ selected.name }}</p>
            <p><strong>Description:</strong> {{ selected.description }}</p>
            <p><strong>Frequency:</strong> {{ selected.frequency }}</p>
            <p><strong>Task Type:</strong> {{ selected.taskType.id }}</p>

            <form *ngIf="editTask" (submit)="updateTask(editTask)">
              <label for="name">Name</label>
              <input type="text" name="name" [(ngModel)]="editTask.name" />
              <label for="description">Description</label>
              <input
                type="text"
                name="description"
                [(ngModel)]="editTask.description"
              />
              <label for="frequency">Frequency</label>
              <input
                type="text"
                name="frequency"
                [(ngModel)]="editTask.frequency"
              />
              <label for="taskType">Task Type</label>
              <input
                type="text"
                name="taskType"
                [(ngModel)]="editTask.taskType.id"
              />
              <button type="submit" class="btn btn-success mt-3">
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h2>Add New Task</h2>
        <label for="name">Name</label>
        <input type="text" name="name" [(ngModel)]="newTask.name" /><br />
        <label for="description">Description</label>
        <input
          type="text"
          name="description"
          [(ngModel)]="newTask.description"
        /><br />
        <label for="frequency">Frequency</label>
        <input
          type="text"
          name="frequency"
          [(ngModel)]="newTask.frequency"
        /><br />
        <label for="taskType">Task Type</label>
        <input
          type="number"
          name="taskType"
          [(ngModel)]="newTask.taskType.id"
        /><br />
        <button (click)="addTask(newTask)" class="btn btn-success mt-3">
          Add Task
        </button>
      </div>
    </div>
  </div>
</div>
